.header {
  margin: 32px 0 80px;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #EDEEF2;
    position: absolute;
    bottom: -30px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    &_search {
      width: 50%;
      box-sizing: padding-box;
    }
    &_cand {
      display: flex;
      justify-content: space-between;
      width: 184px;
      padding: 11px 15px;
      font-size: 18px;
      border-radius: 10px;
      background-color: $accent;
      color: #fff;
    }
    &-cand-block {
      display: flex;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.42);
        width: 1px;
        height: 25px;
        top: -2px;
        left: -17px;
      }
      & img {
        width: 20px;
      }
    }
    &-cand-count {
      margin-left: 4px;
      display: flex;
    }
  }
  &__search {
    display: block;
    width: 80%;
    height: 40px;
    padding: 0 20px;
    background: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    color: $blackText;
    transition: $trans;
    position: relative;
    background-image: url(./../images/search-ic.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    &::placeholder {
      color: #A3A3A3;
    }
    &:focus {
      width: 100%;
      border: 1px solid $accent;
      background-image: url(./../images/search-active-ic.svg);
      background-color: transparent;
    }
  }
}




// <======== Media Queries (Response) ========>
@media (max-width: 768px) {	
	.header {
    &__item {
      &_search {
        width: 100%;
        margin: 0 20px;
      }
    }
    &__search {
      width: 100%;
    }
  }
}


@media (max-width: 576px) {	
	.header {
    &__wrap {
      flex-wrap: wrap;
    }
    &__item {
      &_cand {
        font-size: 16px;
        width: 170px;
      }
      &_search {
        margin: 30px 0 0 0;
        order: 1;
      }
    }
  }
}