*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $blackText;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.none {
  display: none;
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-1 {
  font-weight: 600;
  font-size: 32px;
}

.title-2 {
  font-weight: 600;
  font-size: 24px;
}